
#head {
    text-align: center;
    padding-top: 1rem;
    color: white;
    font-size: 500%;
}
h1 {
    font-family: 'Nerko One', cursive;
}
h2 {

    font-family: 'Nerko One', cursive;   
}
#nav-bar {
    position: absolute;
    left: o;
    top: 220px;
    width: 90%;
    text-align: left;
}
#nav {
    display: inline;
    padding: 1rem 2.2rem;
}
.navi {
    text-decoration: none;
    color: white;
}
.navi:hover {
    text-decoration: none;
    color: rgb(196, 193, 193);
}
.nav2 {
    text-decoration: none;
    color: rgb(196, 193, 193);
    font-size: 130%;
}
.nav-height {
    height: 14rem;
}
.upper{
    background-color: lightseagreen;
}
        .head { font-weight: bold;
            color: grey;
            text-align: center;
            padding-top: 2rem;
            padding-bottom: 5rem;
    }
    .head2 {
        color: lightseagreen;
    }

    .section1 {
        background-color: rgb(247, 242, 242);
        padding-top: 2rem;
        padding-bottom: 3rem;
        text-align: center;
    }
    .section3 {
        padding-left: 10rem;
        padding-right: 10rem;
        padding-bottom: 3rem;
        font-weight: lighter;
    }
    .section9 {
        background-color: white;
        text-align: center;
        padding-bottom: 3rem;
    }
    .date{
        color: grey;
    }
    .tab2 {
        text-decoration: none;
        color: white;
        border-radius: 0.5rem;
        background-color: lightseagreen;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.1rem;
        padding-bottom: 0.5rem;
    }
    .tab1 {
        text-decoration: none;
        color: lightseagreen;
        border-radius: 0.5rem;
        background-color: rgb(230, 217, 217);
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.1rem;
        padding-bottom: 0.5rem;
    }


    .footer-1{
        text-decoration: none;
        color: white;
    }
    .footer2 {
        text-align: center;
        
        padding-bottom: 4rem;
    }
    #foot2 {
        display: inline;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .foot {
        background-color: lightseagreen;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    .footer1 {
        padding-left: 4rem;
        padding-top: 3rem;
        color: white;
    }
    @media only screen and (max-width:534px){
        #nav-bar {
            position: absolute;
            right: 75px;
            top: 61px;
            width: 90%;
            text-align: right;
            padding-bottom: 1rem;
        }
        #nav {
            display: block;
            padding: auto;
        }
        .navi {
            text-decoration: none;
            color: white;
        }
        .navi:hover {
            text-decoration: none;
            color: rgb(196, 193, 193);
        }
        .nav2 {
            text-decoration: none;
            color: rgb(196, 193, 193);
            font-size: 130%;
        }
        
        .footer2 {
            text-align: center;
            
            padding-bottom: 1rem;
        }
        #foot2 {
            display: block;
            padding: auto;
        }
        .burger{
            position: absolute;
            top: 46px;
            right: 15px;
    
        }
        .line{
            width: 29px;
            height: 4px;
            margin: 5px 3px;
            background-color: white;
        }
        #head{
            padding-top: 0;
            font-size: 250%;
        }
    
        .h-resp{
            height: 7rem;
        }
        #nav {
            padding: 0;
        }
        .v-resp{
            opacity: 0;
        }
        .section3 {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    
    }